.container-body {
  font-family: "Permanent Marker", cursive;
  background: url("../../assets/img/fondo.jpg") no-repeat;
  background-size: 100vw 100vh;
  background-position: center;
  color: whitesmoke;
  margin: auto;
  height: 98vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container{
  width: 50%;
}

.title{
  display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-container{
  text-align: center;
}
.select-container {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  align-items: baseline;
}
.tematica{
  margin: 20px;
}
.tablero {
  font-size: 40px;
  padding: 10px;
  margin: 8px;
  text-align: center;
  text-transform: uppercase;
}

.intentos-container {
  margin-bottom: 30px;
  font-size: 20px;
}

.ahorcado {
  max-width: 200px;
  min-height: 200px;
}

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}

.letras-acertadas {
  text-transform: uppercase;
  font-size: 25px;
  color: greenyellow;
  margin-left: 80px;
}

.letras-erradas {
  text-transform: uppercase;
  font-size: 25px;
  color: red;
  margin-left: 80px;
}
.letras-container {
  margin-left: 80px;
  display: flex;
  justify-content: space-around;
}
.input-container {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.input-style{
  height: 50px;
    width: 45px;
    font-size: 40px;
    text-align: center;
    color: magenta;
    text-transform: uppercase;
}
.input-button{
    height: 50px;
    font-size: 40px;
    background: url("../../assets/img/check.png") no-repeat;
    color: whitesmoke;
    cursor: pointer;
    margin: 15px;

}
button {
  color:whitesmoke;
  background-color: red;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  cursor: pointer
  
}
