<body class="container-body ">
  <div class="container container-fluid">
    
    <div>
      <div class="title">
        <h1>AHORCADO</h1>
      </div>
 
      <div class="select-container">
        <p class="tematica">Que temática quiere jugar?</p>
        <p class="tematica">Selecione una opcion</p>
        <select class="form-select" aria-label="Default select example"
          #options
          (change)="onSelected(options.value)"
          [disabled]="juegoFinalizado"
        >
          <option value="marcas">Marcas</option>
          <option value="equipos">Equipos</option>
          <option value="animales">Animales</option>
          <option value="color">Colores</option>
        </select>
      </div>
      <div class="second-container">
        <div class="main-container">
          <div>
            <img class="ahorcado" id="image" src="{{ imageUrl }}" alt="" />
          </div>
          <div>
            <div class="tablero">{{ tablero.join("") }}</div>
          </div>
        </div>
        <div class="letras-container">
          <div>
            <h2 *ngIf="letrasAcertadas.length">Letras Acertadas</h2>
            <p class="letras-acertadas">{{ acertadasUnicas.join() }}</p>
          </div>
          <div>
            <h2 *ngIf="letrasErradas.length">Letras Erradas</h2>
            <p class="letras-erradas">{{ erradasUnicas.join() }}</p>
          </div>
        </div>
        <div class="intentos-container">
          <h2>
            INTENTOS:
            <span id="intentos">{{ intentosRestantes }}</span>
          </h2>
        </div>
        <div class="input-group input-group-sm mb-3">
          <form>
            <label for="letra">INGRESE UNA LETRA</label>
            <br />
            <input
              class="input-style"
              type="text"
              name="letra"
              maxlength="1"
              [(ngModel)]="letra"
              onkeydown="return /[a-z]/i.test(event.key)"
            />
            <input class="input-button" type="submit"  value="ELEGIR"(click)="elegirLetra()" />
            
          </form>
        </div>
        <div class="status-container">
          <h2>
            <h2>{{ mensaje }}</h2>
          </h2>
        </div>
        
        <button  type="button" class="btn btn-outline-light" *ngIf="juegoFinalizado" (click)="reload()">
         JUGAR DE NUEVO
        </button>
      </div>
    </div>

  </div>
</body>
