body {
  font-family: "Permanent Marker", cursive;
  background: url("../assets/img/fondo.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
