<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ahorcado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
  </head>
<body>
  <div class="container">
  <app-hangman></app-hangman>
  </div>
</body>
</html>